body {
  background: blanchedalmond;
  font-size: 5em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  background-color: antiquewhite;
  box-shadow: 5px 5px 5px darkgray;
}

.letter {
  margin: 10px;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid darkslategray;
  box-shadow: 5px 5px 5px gray;
}

#a {
  flex-grow: 1;
  background-color: pink;
}

#b {
  flex-grow: 5;
  background-color: lightblue;
}

#c {
  flex-grow: 1;
  background-color: lightgreen;
}

@media screen and (min-width: 981px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    width: 100%;
  }
}