body {
  background: papayawhip;
}
body {
  background: blanchedalmond;
  font-size: 5em;
}

* {
  border: 1px solid saddlebrown;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  background-color: antiquewhite;
  box-shadow: 5px 5px 5px darkgray;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.a {
  margin: 10px;
  padding: 1em;

  flex-grow: 1;
  background-color: pink;
}

.b {
  margin: 10px;
  padding: 1em;

  flex-grow: 2;
  background-color: lightblue;
}

.c {
  margin: 10px;
  padding: 1em;

  flex-grow: 1;
  background-color: lightgreen;
}

.d {
  margin: 10px;
  padding: 1em;

  flex-grow: 1;
  background-color: rgb(255, 255, 196);
}

.e {
  margin: 10px;
  padding: 1em;

  flex-grow: 1;
  background-color: rgb(204, 179, 255);
}

.f {
  margin: 10px;
  padding: 1em;

  background-color: burlywood;
}

@media screen and (min-width: 981px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    width: 100%;
  }
}